* {
  box-sizing: border-box;
  background-color: rgb(165, 73, 7);
  background-image: url(../Aufgabe_1.3/Hintergrund.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  border: 1px solid sienna;
  padding: 15px;
  text-align: center;
  background-color: aliceblue;
}

.menu {
  width: 25%;
  float: right;
  padding: 15px;
  border: 1px solid sienna;
  text-align: left;
  background-color: antiquewhite;
}
.nav{
  background-color: saddlebrown;
  height: 55px;
  overflow: auto;
  color: brown;
}
.navlist{
  float: right;
  background-color: sienna;
 
}
.navlist li{
  display: inline-block;
}
.navlist li a{ 
  color:black;
  margin: 0 10px;
  text-decoration: none;
}
.navlist li a:hover{
  color: gray;
  text-decoration: none;
}
.li a.active{
  background-color: black;
  color: burlywood;
  text-decoration: underline;
}
.li a:hover:not(.active){
  background-color: black;
  color:brown;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid sienna;
  list-style: none;
  background-color: brown;
}
.inhalt{
  width: 100%;
  
}

.footer{
    width: 800px;
    height: 30px;  

}