*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body { 
  margin: 0;
  background-color: bisque;
  background-color:white;
  background-image: url(../Aufgabe_1.3/Hintergrund.png); 
}
#Kontakt{
  width: 800px;
  margin: 0 auto;
  background-color:white;

}
#nav{
  background-color: saddlebrown;
  height: 55px;
  overflow: auto;
}
.navlist{
  float: right;
 
}
.navlist li{
  display: inline-block;
}
.navlist li a{ 
  color: beige;
  margin: 0 10px;
  text-decoration: none;
}
.navlist li a:hover{
  color: gray;
  text-decoration: none;
}
.li a.active{
  background-color: black;
  color: burlywood;
  text-decoration: underline;
}
.li a:hover:not(.active){
  background-color: black;
  color:blueviolet;
}
.text-center{
  text-align: center;
}

#header{
  width: 800px;
  height: auto;
  background-image: url(../Aufgabe_1.3/Medien/Kontakt.jpg);
  background-position:center;
  background-size:30%;
  padding: 10px;
  font-size: 15px;
  color: dimgrey;
 
}
.main{
  
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
}
