body { 
    background-color:bisque;
    
 }
 
 
 
 h1 {
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     padding-inline-start: 35%;
     top: 100;
 }
 
 h2 {
    color:gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline-start: 45%;
 }
 
 li{
    color: brown;
    list-style: none;
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    padding:1%;
    padding-inline-start: 85%;
    padding-block-end: 1%;
    top:0%;
    right: 0%;}

 a{
     color: burlywood;
     background: brown;
     
 }

 